<div class="about" id="about">
    <div class="container flex">
        <div class="header waypoint" data-aos="fade-right" data-aos-once="true" data-aos-offset="300"
            data-aos-easing="ease-in-sine">
            ABOUT
        </div>
        <div class="header-bar waypoint" data-aos="fade-right" data-aos-once="true" data-aos-offset="300"
            data-aos-easing="ease-in-sine"></div>
    </div>
    <div class="about-content" data-aos="fade-right" data-aos-easing="ease-in-back" data-aos-delay="600"
        data-aos-offset="0">
        <div class="about-img-wrapper">
            <img class="about-img" src="../../assets/img/niharika-img-2.jpg">
        </div>
        <div class="about-text" id="about-text">
            <p>I'm a Systems Engineer Specialist at Infosys Ltd. I have a serious passion for developing fast, and
                dynamic applications with intuitive user experience.
            </p>
            <p>I love to continuously challenge myself with different set of tasks, which can help in growing as
                professional. I continuously work on upgrading my skills everyday and try to be aware of latest trends,
                technologies which can help in solving various business problems. I am focused at growing as a full
                stack professional. My aim is leverage my skills to work in a dynamic environment for business growth
                and to continuously upgrade my skills.
            </p>
        </div>
    </div>
</div>