<div class="about" id="about">
    <div class="container flex">
        <div class="header waypoint" data-aos="fade-right" data-aos-once="true" data-aos-offset="200"
            data-aos-easing="ease-in-sine">
            ABOUT
        </div>
        <div class="header-bar waypoint" data-aos="fade-right" data-aos-once="true" data-aos-offset="200"
            data-aos-easing="ease-in-sine"></div>
    </div>
    <div class="about-content" data-aos="fade-right" data-aos-easing="ease-in-back" data-aos-delay="300"
        data-aos-offset="0">
        <div class="about-img-wrapper">
            <img class="about-img" src="../../assets/img/niharika-img-2.jpg">
        </div>
        <div class="about-text" id="about-text">
            <p>I'm a Systems Engineer Specialist at Infosys Ltd. I have a passion towards building highly performant, scalable, secure and intuitive applications that have a human touch to them.
            </p>
            <p>I love to see my work solve problems for business and humans alike and enjoy being challenged with my skills. I have inculcated the habit of being disciplined and consistent with my efforts and strive to maintain a balance between what I do and what I enjoy. I aspire to be professional who is known to stakeholders for solutions, implementations, reliability and compliances. Being part of team that continuosly strives for excellence and doesn't settle is definition of my dream workplace.
            </p>
            <p>When I am not working, I am into travelling, catching up with family and friends, reading books and interacting with diverse people.</p>
        </div>
    </div>
</div>