    <!-- ======= Intro Section ======= -->
    <div id="home" class="intro route bg-image">
        <!-- <div class="overlay-itro"></div> -->
        <div class="mask-div"></div>
        <div class="wrapper-intro">
            <div class="text">
              <p>  Hello I'm 
                <span class="highlight">Niharika Kuravi</span>
            </p>
               <p> I'm a <span class="text-slider-items">Web Developer,Free Lancer,Frontend Developer, Traveller</span><strong class="text-slider"></strong></p>
            </div>
            <div class="main-button" dest="about" (click)="navigateToAboutSection()">
              View my work  <i class="fa fa-arrow-right" (click)="navigateToAboutSection()"></i>
            </div>
        </div>
        
    </div>