<div class="skills-wrap">
    <div class="container flex">
        <div class="header waypoint" data-aos="fade-right" data-aos-once="true" data-aos-offset="100"
            data-aos-easing="ease-in-sine">
            SKILLS
        </div>
        <div class="header-bar waypoint" data-aos="fade-right" data-aos-once="true" data-aos-offset="200"
            data-aos-easing="ease-in-sine"></div>
    </div>
<div class="row">
      <div class="col-lg-6">
        <div class="progress-wrap">
            <span>HTML <i>90%</i></span>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<div class="progress-wrap">
    <span>CSS <i>90%</i></span>
<div class="progress">
<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<div class="progress-wrap">
    <span>React <i>85%</i></span>
<div class="progress">
<div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div> 
<div class="progress-wrap">
<span>Redux <i>85%</i></span>
<div class="progress">
<div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
</div>  

<div class="col-lg-6">
    <div class="progress-wrap">
        <span>Angular <i>85%</i></span>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    <div class="progress-wrap">
        <span>Graph QL <i>70%</i></span>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    
<div class="progress-wrap">
    <span>Node & Express js <i>70%</i></span>
<div class="progress">
<div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>

<div class="progress-wrap">
    <span>Mongo DB <i>70%</i></span>
<div class="progress">
<div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
</div>
</div>
<div class="resume-download">
    <a href="../../assets/Resume_Niharika.pdf" download>Click here to download my Resume and know other skills</a>
</div>
</div>
